[phases.setup]
nixPkgs = [
  "nodejs_20",
  "chromium",
  "fontconfig",
  "freefont_ttf",
  "bash"
]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[variables]
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "true"
PUPPETEER_EXECUTABLE_PATH = "/nix/store/chromium/bin/chromium"
NEXT_TELEMETRY_DISABLED = "1"
NODE_ENV = "production"
